body{
 font-family: Verdana;
 text-align:center;

}#myButton{
    font-size:3em;
    padding:5px 25px;
    border-radius:5px;
    color: rgb(36, 25, 180);

}#myLabel{
    font-size:5em;
    padding:5px 25px;
    border-radius:5px;
    color: rgb(43, 226, 119);
}.myFirstPa{
    color: cadetblue;
}